image {
    filter: brightness(0.99);
    margin-top: 40px;
    padding: 10px;
}

#image::after {
    display: none;
    content: '';
    background: rgba(0, 0, 0, 0.445);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
}

.img-wrapper>img {
    width: 100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

figure {
    margin: 0;
}

.img-wrapper .border-frame {
    display: none;
    position: absolute;
    border-style: solid;
    border-width: 1.5px;
    border-color: #F1A81A;
    right: 15px;
    top: 15px;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
}

.img-wrapper .border-frame .corner-left {
    display: none;
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.img-wrapper .border-frame .corner-right {
    display: none;
    position: absolute;
    top: -21px;
    right: -20px;
}

.img-wrapper:hover #image {
    transform: scale(1.2);
    filter: brightness(0.30);
}

.img-wrapper:hover .border-frame {
    display: block;
}

.border-frame:hover .corner-right {
    display: block;
}

.border-frame:hover .corner-left {
    display: block;
}


/*RESPONSIVE*/

/*RESPONSIVE*/

@media(max-width: 1600px) {
    #logo {
        width: 78.5px;
        height: 85px;
    }

    .icons i {
        margin-inline: 10px;
    }
}

@media(max-width: 1000px) {
    #header {
        justify-content: flex-start;
    }

    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.850);
        right: -110%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .menu i {
        margin-top: 30px;
    }

    #inicio {
        display: block;
    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: -2%;
    }

    #logo {
        left: 85% !important;
    }

}

@media(max-width: 768px) {
    #admin {
        display: none;
    }

    .icons {
        display: none;
    }

    .barra p {
        margin: 0%;
    }

    #logo {
        left: 85% !important;
    }
}

@media(max-width: 600px) {
    #logo {
        left: 75% !important;
    }
}

@media(max-width: 400px) {
    #logo {
        left: 65% !important;
    }
}

h1{
    text-align: center;
}
