<h1>CARTA / PLATILLOS</h1>

<section id="carta" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="../../assets/images/cev.jpg" class="card-img-top" alt="Nombre del plato">
            <div class="card-body">
              <h5 class="card-title">Ceviche peruano</h5>
              <p class="card-text">Plato peruano de pescado crudo marinado en jugo de limón con cebolla, ají y cilantro.</p>
              <p class="card-text">Precio: $18.99</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="../../assets/images/ca.jpg" class="card-img-top" alt="Nombre del plato">
            <div class="card-body">
              <h5 class="card-title">Causa Limeña</h5>
              <p class="card-text"> Deliciosa mezcla de puré de papa amarilla con ají amarillo, limón y relleno de pollo, atún o mariscos.</p>
              <p class="card-text">Precio: $16.99</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
              <img src="../../assets/images/tallarin.jpg" class="card-img-top" alt="Nombre del plato">
              <div class="card-body">
                <h5 class="card-title">Spaghetti</h5>
                <p class="card-text">Pasta italiana de forma alargada y delgada, típicamente servida con salsa de tomate y otros ingredientes.</p>
                <p class="card-text">Precio: $24.99</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>